# Music Albums

Vol1/

unreleased/

music/albums/vol1.html

# Characters - Amelia May
*ameliamay*
graphics/conceptart/character_20230619141336.png
graphics/conceptart/character_20230617185246.png
graphics/conceptart/reference_sheets_20230922175651.png
graphics/conceptart/reference_sheets_20230922175654.png
graphics/conceptart/reference_sheets_20230922181738.png
graphics/conceptart/reference_sheets_20230922181758.png

# Characters - Ben
*ben*
graphics/conceptart/death.png

# Characters - Grasshopper Redesign
*GrasshopperNew*
graphics/conceptart/367EE950-A640-4E8E-BE08-42BC83A9237A.png
graphics/conceptart/Grasshopper_Ref_Sheet.png

# Characters - OnyxKing Redesign
graphics/conceptart/Onyxking_Reference.png

# Misc
template.psd
*.mmpz
