@font-face {
  font-family: "OnyxKing Generic";
  src: url(../assets/fonts/polygonparty.ttf) format("truetype");
}
head {
  font-family: "OnyxKing Generic";
}
body {
  font-family: "OnyxKing Generic";
  background-color: white;
  color: black;
}
footer {
  background-color: black;
  color: white;
  padding: 12px;
  position: absolute;
  left:0;
  right:0;
}
a {
  text-decoration: none;
}