.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #222;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #ccc;
  font-family: "OnyxKing Generic";
  font-size: 21px;
}
.tab button:hover {
  background-color: #99aab5;
  color: #222;
}
.tab button.active {
  background-color: #179ff3;
}
.tabcontent {
  display: none;
  padding: 6px 0px;
  animation: fadeEffect 1s;
  margin: 42px 0px;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}